@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
        Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
        You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
</div>
<div class="Combo">
    <h2>Entree</h2>
    <div class="combo">Any entree, side, and drink can be combined into a Combo with a $1 discount</div>
</div>
<div class="Entree">
    <h2>Entree</h2>
    @foreach (BleakwindBuffet.Data.IOrderItem item in BleakwindBuffet.Data.Menu.Menu.Entrees())
    {
        <div class="details">
            <div class="name"> @item</div>
            <div class="price"> Price: $@item.Price</div>
            <div class="calories"> Calories: @item.Calories</div>
        </div>
    }
</div>
<div class="Drink">
    <h2>Drinks</h2>
    <div class="flavor">
        <h3>SodaFlavor</h3>
        @foreach (var flavor in Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
        {
            <div>@flavor.ToString()</div>
        }
    </div>
    @foreach (BleakwindBuffet.Data.IOrderItem item in BleakwindBuffet.Data.Menu.Menu.Drinks())
    {
        <div class="details">
            <div class="name">@item</div>
            @if (item is BleakwindBuffet.Data.Drinks.Drink items)
            {
                <div class="size"> Size: @items.Size</div>
                <div class="price"> Price: $@items.Price</div>
                <div class="calories"> Calories: @items.Calories</div>
            }
        </div>
    }
</div>
<div class="Side">
    <h2>Sides</h2>
    @foreach (BleakwindBuffet.Data.IOrderItem item in BleakwindBuffet.Data.Menu.Menu.Sides())
    {
        <div class="details">
            <div class="name">@item</div>
            @if (item is BleakwindBuffet.Data.Sides.Side items)
            {
                <div class="size"> Size: @items.Size</div>
                <div class="price"> Price: $@items.Price</div>
                <div class="calories"> Calories: @items.Calories</div>
            }
        </div>
    }
</div>